@import url(variable.css);

/* *{
    padding: 0;
    box-sizing: border-box;
} */

body{
    background: linear-gradient(to right, var(--color-3), var(--color-4));
    text-align: center;
    justify-content: center;
    align-items: center;
}

.grid-layout{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: stretch;
    margin: 50px;
    margin-top: 150px;
}
.box{
    display: grid;
    /* width: 150px;
    height: 150px; */
    text-align: center;
    background-color: var(--color-2);
    line-height: 150px;
    float: left;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.c1{
    height: 550px;
    width: 475px;
    border-radius: 18px;
    grid-row: 1/4;
    grid-column: 2;
    padding-top: 39px;
}



.n1{
    height: 39px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    & h1{
        font-size: 32px;
        font-family: "mBold";
        border: none;
    }
    & img{
        height: 39px;
    }

}

.n2{
    display: flex;
    flex-direction: column;
    line-height: 0%;
    margin-top: -5px;
    & h2{
        font-family: "sBold";
        font-size: 22px;
    }
    & p{
        font-family: "mr";
        font-size: 14px;
        color: var(--color-5);
    }
}

.n3{
    height: 78px;
    width: 423px;
    line-height: 0%;
    justify-self: center;
    text-align: start;
    & label{
        font-family: "monM";
        font-size: 14px;
        color: var(--color-5);
    }
}

.email input{
    margin-top: 20px;
    height: 44px;
    width: 415px;
    border-radius: 4px ;
    border: solid 2px var(--color-6);
    outline: none;
    cursor: text;
    &::placeholder{
        color: var(--color-6);  
        padding-left: 5px;
    }
}



.n4{
    height: 78px;
    width: 423px;
    line-height: 0%;
    justify-self: center;
    text-align: start;
    margin-top: -15px;
    & label{
        font-family: "monM";
        font-size: 14px;
        color: var(--color-5);
    }
}

.password input{
    margin-top: 20px;
    height: 44px;
    width: 415px;
    border-radius: 4px ;
    border: solid 2px var(--color-6);
    outline: none;
    cursor: text;
    &::placeholder{
        color: var(--color-6);
        padding-left: 5px;
    }
}

.n5{
    /* background-color: aqua; */
    align-content: center;
    justify-content: center;
    height: 110px;
    margin-top: -50px;
    margin-top: -40px;
}

.n5 button{
    height: 44px;
    width: 415px;
    font-family: "monM";
    font-size: 14px;
    background-color: var(--button1-1);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: var(--button1-2);
        transform: scale(1.02);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    &:active {
        transform: scale(0.99);
        background-color: #91670d;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(228, 147, 72, 0.5);
    }
    & a{
        /* background-color: aliceblue; */
        padding-left: 40%;
        padding-right: 40%;
        padding-top: 3%;
        padding-bottom: 3%;
        color: var(--color-2);
        text-decoration: none;

    }
}

.n6{
    display: flex;
    flex-direction: row;
    height: 12px;
    justify-content: center;
    text-align: center;
    margin-top: -100px;
    & p{
        font-size: 14px;
        font-family: "mr";
        color: var(--color-5);
    }
    & a{
        font-size: 14px;
        font-family: "mr";
        color: var(--button1-1);
    }

}

















