@import url(variable.css);

/* *{
    padding: 0;
    box-sizing: border-box;
} */

body{
    background: linear-gradient(to right, var(--color-3), var(--color-4));
    text-align: center;
}

.grid-layout{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 33.33% 33.33% 33.33%;
    justify-content: stretch;
    margin: 50px;
}
.box{
    display: grid;
    /* width: 150px;
    height: 150px; */
    text-align: center;
    background-color: var(--color-2);
    line-height: 150px;
    float: left;
}

.c1{
    height: 550px;
    width: 475px;
    border-radius: 18px;
    grid-row: 1/4;
    grid-column: 2;
    padding-top: 39px;
}

.caja{
    /* border: solid black 1px */
}

.n1{
    height: 39px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    & h1{
        font-size: 32px;
        font-family: "mBold";
        border: none;
    }
    & img{
        height: 39px;
    }

}

.n2{
    display: flex;
    flex-direction: column;
    line-height: 0%;
    margin-top: -30px;
    & h2{
        font-family: "sBold";
        font-size: 22px;
    }
    & p{
        font-family: "mr";
        font-size: 14px;
        color: var(--color-5);
    }
}

.n3{
    height: 78px;
    width: 423px;
    line-height: 0%;
    justify-self: center;
    text-align: start;
    & p{
        font-family: "monM";
        font-size: 14px;
        color: var(--color-5);
    }
}

.email input{
    margin-top: 8px;
    height: 44px;
    width: 415px;
    border-radius: 4px ;
    border-color: var(--color-6);
    & ::placeholder{
        color: var(--color-6);
    }
}

.n4{
    height: 78px;
    width: 423px;
    line-height: 0%;
    justify-self: center;
    text-align: start;
    margin-top: -25px;
    & p{
        font-family: "monM";
        font-size: 14px;
        color: var(--color-5);
    }
}

.password input{
    margin-top: 8px;
    height: 44px;
    width: 415px;
    border-radius: 4px ;
    border-color: var(--color-6);
    & ::placeholder{
        color: var(--color-6);
    }
}

.n5{
    /* background-color: aqua; */
    align-content: center;
    justify-content: center;
    height: 100px;
    margin-top: -50px;
}

.n5 button{
    height: 44px;
    width: 415px;
    font-family: "monM";
    font-size: 14px;
    color: var(--color-2);
    background-color: var(--button1-1);
    border-radius: 4px;
    border: none;
}

.n6{
    height: 12px;
    justify-content: center;
    text-align: center;
    margin-top: -80px;
    & p{
        font-size: 14px;
        font-family: "mr";
        color: var(--color-5);
    }

}















