<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="../index.html" defer type="module"></script>
    <title>Dashboard</title>
</head>
<body>
    <section class="v_banner">
        <div class="box c1">
            <img src="/storage/img/Line 1.png" alt="">
            <h1>CRUD OPERATIONS</h1>
        </div>
        <div class="box c2"></div>
        <div class="box c3"></div>
        
    </section>
    <section class="content"></section>
</body>
</html>